body {
    font-family: 'Arial', sans-serif;
    background-color: #CCCCCC;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #003399;
    color: white;
    text-align: center;
    padding: 1em;
}

section {
    margin: 20px;
}

footer {
    background-color: #003399;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* CSS Document */

nav {
background-color: #000000;
padding: 10px 0;
text-align: center; }

nav :hover {
 	background-color:#0033FF; }

